<div class="btn-vertical">
  <a class="nav-btn" href="{{ '/' | relative_url }}">🏠 首頁</a>

  <a class="nav-btn" href="{{ '/0126.html' | relative_url }}">1/26｜集合過夜</a>
  <a class="nav-btn" href="{{ '/0127.html' | relative_url }}">1/27｜阿里山 Day 1</a>
  <a class="nav-btn" href="{{ '/0128.html' | relative_url }}">1/28｜阿里山 Day 2</a>
  <a class="nav-btn" href="{{ '/0129.html' | relative_url }}">1/29｜阿里山 Day 3</a>

  <a class="nav-btn" href="{{ '/prepare.html' | relative_url }}">準備清單</a>
  <a class="nav-btn" href="{{ '/gear.html' | relative_url }}">器材清單</a>
  <a class="nav-btn" href="{{ '/todo.html' | relative_url }}">待辦事項</a>
</div>
